main {
    background-color: $bgc-main;
    h2 {
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        padding-top: 20px;
    }
    h3 {
        padding-bottom: 10px;
    }
    img {
        height: 290px;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        padding-left: 18px;
        padding-top: 20px;
    }
}
